FITNESS.json
{
  "name": "Reddit Fitness App Feature Analysis",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "value": 1
            }
          ]
        }
      },
      "id": "87a38846-6ad8-4a94-8fbc-c4bcabf6e516",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Define fitness subreddits to analyze\nconst subreddits = [\n  'fitness',\n  'workout', \n  'homegym',\n  'bodyweightfitness',\n  'xxfitness',\n  'flexibility',\n  'powerlifting',\n  'weightlifting',\n  'calisthenics',\n  'running'\n];\n\n// Create items for each subreddit\nconst results = subreddits.map(subreddit => ({\n  json: { \n    subreddit: subreddit,\n    timeframe: 'year',\n    limit: 100\n  }\n}));\n\nreturn results;"
      },
      "id": "2a5b8c9d-1e3f-4567-890a-bcdef1234567",
      "name": "Subreddit List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "getAll",
        "subreddit": "={{ $json.subreddit }}",
        "sort": "top",
        "time": "year",
        "limit": 100
      },
      "id": "3b6c9d0e-2f4g-5678-901b-cdef23456789",
      "name": "Fetch Reddit Posts",
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Feature request patterns to search for\nconst patterns = [\n  /i wish there was an app that/i,\n  /does anyone know an app that can/i,\n  /feature request/i,\n  /missing feature/i,\n  /i would love if/i,\n  /why isn't there an app/i,\n  /app that does/i,\n  /need an app/i,\n  /looking for an app/i,\n  /app recommendation/i,\n  /wished.*app/i,\n  /app.*feature/i,\n  /someone should make an app/i,\n  /dream app/i,\n  /perfect app would/i\n];\n\n// Filter posts that match feature request patterns\nconst results = [];\n\nfor (const item of items) {\n  const post = item.json;\n  \n  // Check post title and selftext\n  const titleText = (post.title || '').toLowerCase();\n  const bodyText = (post.selftext || '').toLowerCase();\n  const combinedText = `${titleText} ${bodyText}`;\n  \n  // Check if any pattern matches\n  const matchedPatterns = patterns.filter(pattern => \n    pattern.test(combinedText)\n  );\n  \n  if (matchedPatterns.length > 0) {\n    results.push({\n      json: {\n        id: post.id,\n        title: post.title,\n        selftext: post.selftext,\n        subreddit: post.subreddit,\n        author: post.author,\n        score: post.score,\n        upvoteRatio: post.upvote_ratio,\n        numComments: post.num_comments,\n        created: post.created_utc,\n        url: `https://reddit.com${post.permalink}`,\n        matchedPatterns: matchedPatterns.length,\n        fullText: combinedText\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "4c7d0e1f-3g5h-6789-012c-def345678901",
      "name": "Filter Feature Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "resource": "postComment",
        "operation": "getAll",
        "subreddit": "={{ $json.subreddit }}",
        "postId": "={{ $json.id }}",
        "sort": "top",
        "limit": 50
      },
      "id": "5d8e1f2g-4h6i-7890-123d-ef4567890123",
      "name": "Fetch Comments",
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Same patterns for comments\nconst patterns = [\n  /i wish there was an app that/i,\n  /does anyone know an app that can/i,\n  /feature request/i,\n  /missing feature/i,\n  /i would love if/i,\n  /why isn't there an app/i,\n  /app that does/i,\n  /need an app/i,\n  /looking for an app/i,\n  /app recommendation/i,\n  /wished.*app/i,\n  /app.*feature/i,\n  /someone should make an app/i,\n  /dream app/i,\n  /perfect app would/i\n];\n\nconst results = [];\n\nfor (const item of items) {\n  const comment = item.json;\n  \n  if (!comment.body) continue;\n  \n  const commentText = comment.body.toLowerCase();\n  \n  // Check if any pattern matches\n  const matchedPatterns = patterns.filter(pattern => \n    pattern.test(commentText)\n  );\n  \n  if (matchedPatterns.length > 0) {\n    results.push({\n      json: {\n        type: 'comment',\n        id: comment.id,\n        body: comment.body,\n        subreddit: comment.subreddit,\n        author: comment.author,\n        score: comment.score,\n        created: comment.created_utc,\n        parentId: comment.parent_id,\n        url: `https://reddit.com${comment.permalink}`,\n        matchedPatterns: matchedPatterns.length,\n        fullText: commentText\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "6e9f2g3h-5i7j-8901-234e-f56789012345",
      "name": "Filter Comment Features",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Merge posts and comments into unified format\nconst results = [];\n\n// Get posts from first input\nconst posts = $input.first().all();\n// Get comments from second input  \nconst comments = $input.last().all();\n\n// Process posts\nfor (const post of posts) {\n  results.push({\n    json: {\n      ...post.json,\n      type: 'post',\n      content: `${post.json.title} ${post.json.selftext || ''}`.trim(),\n      engagement: post.json.score + (post.json.numComments * 2)\n    }\n  });\n}\n\n// Process comments\nfor (const comment of comments) {\n  results.push({\n    json: {\n      ...comment.json,\n      content: comment.json.body,\n      engagement: comment.json.score\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "7f0g3h4i-6j8k-9012-345f-6789012345ab",
      "name": "Merge Posts and Comments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "prompt": {
          "messages": {
            "values": [
              {
                "role": "system",
                "content": "You are an expert at analyzing fitness app feature requests. Extract the key feature being requested and categorize it. Return ONLY a JSON object with: {\"feature\": \"brief description\", \"category\": \"category name\", \"priority\": \"high/medium/low\", \"keywords\": [\"key\", \"words\"]}"
              },
              {
                "role": "user",
                "content": "Analyze this fitness app feature request: {{ $json.content }}"
              }
            ]
          }
        },
        "options": {
          "maxTokens": 150,
          "temperature": 0.3
        }
      },
      "id": "8g1h4i5j-7k9l-0123-456g-789012345abc",
      "name": "Analyze with OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Parse OpenAI response and combine with original data\nconst results = [];\n\nfor (const item of items) {\n  try {\n    // Parse AI response\n    const aiResponse = JSON.parse(item.json.message.content);\n    \n    // Get original data from previous node\n    const originalData = $node[\"Merge Posts and Comments\"].json;\n    \n    results.push({\n      json: {\n        ...originalData,\n        aiAnalysis: aiResponse,\n        feature: aiResponse.feature,\n        category: aiResponse.category,\n        priority: aiResponse.priority,\n        keywords: aiResponse.keywords || [],\n        analysisDate: new Date().toISOString()\n      }\n    });\n  } catch (error) {\n    // If parsing fails, keep original data\n    results.push({\n      json: {\n        ...item.json,\n        feature: 'Failed to parse',\n        category: 'unknown',\n        priority: 'low',\n        keywords: [],\n        error: error.message\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "9h2i5j6k-8l0m-1234-567h-89012345abcd",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        300
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Cluster similar features and rank by engagement\nconst featureMap = new Map();\n\n// Group by feature similarity\nfor (const item of items) {\n  const feature = item.json.feature;\n  const category = item.json.category;\n  const key = `${category}:${feature}`;\n  \n  if (!featureMap.has(key)) {\n    featureMap.set(key, {\n      feature: feature,\n      category: category,\n      mentions: [],\n      totalEngagement: 0,\n      totalMentions: 0,\n      subreddits: new Set(),\n      keywords: new Set(),\n      examples: []\n    });\n  }\n  \n  const cluster = featureMap.get(key);\n  cluster.mentions.push(item.json);\n  cluster.totalEngagement += item.json.engagement || 0;\n  cluster.totalMentions += 1;\n  cluster.subreddits.add(item.json.subreddit);\n  \n  // Add keywords\n  if (item.json.keywords) {\n    item.json.keywords.forEach(kw => cluster.keywords.add(kw));\n  }\n  \n  // Add example (keep max 3)\n  if (cluster.examples.length < 3) {\n    cluster.examples.push({\n      text: item.json.content.substring(0, 200) + '...',\n      url: item.json.url,\n      subreddit: item.json.subreddit,\n      engagement: item.json.engagement || 0\n    });\n  }\n}\n\n// Convert to array and sort by engagement\nconst rankedFeatures = Array.from(featureMap.values())\n  .map(cluster => ({\n    ...cluster,\n    subreddits: Array.from(cluster.subreddits),\n    keywords: Array.from(cluster.keywords),\n    avgEngagement: cluster.totalEngagement / cluster.totalMentions,\n    score: cluster.totalEngagement + (cluster.totalMentions * 10)\n  }))\n  .sort((a, b) => b.score - a.score);\n\n// Return top results\nconst results = rankedFeatures.slice(0, 50).map((cluster, index) => ({\n  json: {\n    rank: index + 1,\n    feature: cluster.feature,\n    category: cluster.category,\n    totalMentions: cluster.totalMentions,\n    totalEngagement: cluster.totalEngagement,\n    avgEngagement: Math.round(cluster.avgEngagement),\n    score: Math.round(cluster.score),\n    subreddits: cluster.subreddits.join(', '),\n    keywords: cluster.keywords.join(', '),\n    examples: cluster.examples,\n    topExample: cluster.examples[0] || null\n  }\n}));\n\nreturn results;"
      },
      "id": "0i3j6k7l-9m1n-2345-678i-9012345abcde",
      "name": "Cluster and Rank Features",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        300
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Format data for CSV output\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  results.push({\n    json: {\n      rank: data.rank,\n      feature_idea: data.feature,\n      category: data.category,\n      total_mentions: data.totalMentions,\n      total_engagement: data.totalEngagement,\n      avg_engagement: data.avgEngagement,\n      score: data.score,\n      subreddits: data.subreddits,\n      keywords: data.keywords,\n      example_quote: data.topExample ? data.topExample.text : '',\n      example_url: data.topExample ? data.topExample.url : '',\n      example_subreddit: data.topExample ? data.topExample.subreddit : '',\n      example_engagement: data.topExample ? data.topExample.engagement : 0,\n      analysis_date: new Date().toISOString().split('T')[0]\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "1j4k7l8m-0n2o-3456-789j-012345abcdef",
      "name": "Format for CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "csv",
        "binaryPropertyName": "csvReport",
        "options": {
          "fileName": "reddit_fitness_features_{{ $now.format('YYYY-MM-DD') }}.csv"
        }
      },
      "id": "2k5l8m9n-1o3p-4567-890k-123456abcdef",
      "name": "Create CSV Report",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        2300,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Subreddit List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subreddit List": {
      "main": [
        [
          {
            "node": "Fetch Reddit Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Reddit Posts": {
      "main": [
        [
          {
            "node": "Filter Feature Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Feature Requests": {
      "main": [
        [
          {
            "node": "Fetch Comments",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Posts and Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Comments": {
      "main": [
        [
          {
            "node": "Filter Comment Features",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Comment Features": {
      "main": [
        [
          {
            "node": "Merge Posts and Comments",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Posts and Comments": {
      "main": [
        [
          {
            "node": "Analyze with OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze with OpenAI": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Cluster and Rank Features",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cluster and Rank Features": {
      "main": [
        [
          {
            "node": "Format for CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for CSV": {
      "main": [
        [
          {
            "node": "Create CSV Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}