reddit_fitness_feature_tracker_ENHANCED.json
{
  "name": "Reddit Fitness Feature Tracker - Enhanced NLP",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": ["days", 1]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "getAll",
        "subreddit": "fitness",
        "limit": 100
      },
      "id": "reddit-fitness",
      "name": "Get Fitness Posts",
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [460, 200]
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "getAll",
        "subreddit": "bodyweightfitness",
        "limit": 100
      },
      "id": "reddit-bodyweightfitness",
      "name": "Get Bodyweight Posts",
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "getAll",
        "subreddit": "weightlifting",
        "limit": 100
      },
      "id": "reddit-weightlifting",
      "name": "Get Weightlifting Posts",
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [460, 400]
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "getAll",
        "subreddit": "flexibility",
        "limit": 50
      },
      "id": "reddit-flexibility",
      "name": "Get Flexibility Posts",
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [460, 500]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-posts",
      "name": "Merge All Posts",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [680, 350]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Enhanced feature request phrase detection\nconst featureRequestPhrases = [\n  'I wish there was an app that',\n  'Does anyone know an app that can',\n  'Feature request',\n  'Missing feature',\n  'I would love if',\n  'Would be great if',\n  'Need an app that',\n  'Looking for an app',\n  'App recommendation',\n  'Wish this existed',\n  'Someone should make',\n  'Why isn\\'t there',\n  'App that does',\n  'Hope someone builds',\n  'Would pay for an app',\n  'Lacking in current apps'\n];\n\nconst results = [];\n\nfor (const item of items) {\n  const title = (item.json.title || '').toLowerCase();\n  const content = (item.json.selftext || '').toLowerCase();\n  const combinedText = title + ' ' + content;\n  \n  // Check if any feature request phrase is found\n  const foundPhrases = featureRequestPhrases.filter(phrase => \n    combinedText.includes(phrase.toLowerCase())\n  );\n  \n  // Additional keywords that suggest feature requests\n  const featureKeywords = ['missing', 'lacking', 'need', 'want', 'wish', 'feature', 'app', 'software', 'tool'];\n  const keywordMatches = featureKeywords.filter(keyword => \n    combinedText.includes(keyword)\n  ).length;\n  \n  // Calculate confidence score\n  const phraseScore = foundPhrases.length > 0 ? 0.8 : 0;\n  const keywordScore = Math.min(keywordMatches * 0.1, 0.5);\n  const confidenceScore = phraseScore + keywordScore;\n  \n  if (foundPhrases.length > 0 || keywordMatches >= 3) {\n    results.push({\n      json: {\n        ...item.json,\n        detected_phrases: foundPhrases,\n        keyword_matches: keywordMatches,\n        is_feature_request: true,\n        confidence_score: confidenceScore,\n        engagement_score: (item.json.ups || 0) + (item.json.num_comments || 0) * 2,\n        combined_text: combinedText\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "phrase-filter",
      "name": "Feature Request Phrase Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 350]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "chatModel": "gpt-4o-mini",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "Classify this fitness post into one of these categories: tracking, social, workout_tools, nutrition, general. Return only the category name."
            },
            {
              "role": "user",
              "content": "{{ $json.title + ' ' + ($json.selftext || '') }}"
            }
          ]
        },
        "maxTokens": 10
      },
      "id": "text-classifier",
      "name": "Classify Feature Type",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [1120, 250]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "chatModel": "gpt-4o-mini",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "Analyze the sentiment of this text. Return only: positive, negative, or neutral."
            },
            {
              "role": "user",
              "content": "{{ $json.combined_text }}"
            }
          ]
        },
        "maxTokens": 5
      },
      "id": "sentiment-analysis",
      "name": "Sentiment Analysis",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [1120, 450]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Advanced NLP analysis that merges sentiment and classification data\nconst results = [];\n\n// Group items by post ID to match sentiment and classification data\nconst postGroups = {};\n\n// First pass: group all items by their original post data\nfor (const item of items) {\n  // Create a unique key based on post content\n  const postKey = (item.json.title || '') + '|' + (item.json.selftext || '') + '|' + (item.json.url || '');\n  \n  if (!postGroups[postKey]) {\n    postGroups[postKey] = {\n      originalData: item.json,\n      sentiment: null,\n      classification: null\n    };\n  }\n  \n  // Extract OpenAI response content - handle multiple possible structures\n  let openaiContent = '';\n  \n  // Method 1: Direct message content\n  if (item.json.message && item.json.message.content) {\n    openaiContent = item.json.message.content;\n  }\n  // Method 2: Choices array structure\n  else if (item.json.choices && item.json.choices[0] && item.json.choices[0].message && item.json.choices[0].message.content) {\n    openaiContent = item.json.choices[0].message.content;\n  }\n  // Method 3: Direct content field\n  else if (item.json.content) {\n    openaiContent = item.json.content;\n  }\n  // Method 4: Try to find content anywhere in the response\n  else {\n    const jsonStr = JSON.stringify(item.json);\n    const contentMatch = jsonStr.match(/\"content\"\\s*:\\s*\"([^\"]+)\"/); \n    if (contentMatch) {\n      openaiContent = contentMatch[1];\n    }\n  }\n  \n  // Determine if this is sentiment or classification based on content\n  if (openaiContent.toLowerCase().includes('positive') || openaiContent.toLowerCase().includes('negative') || openaiContent.toLowerCase().includes('neutral')) {\n    postGroups[postKey].sentiment = openaiContent.trim().toLowerCase();\n  } else if (openaiContent.toLowerCase().includes('tracking') || openaiContent.toLowerCase().includes('social') || openaiContent.toLowerCase().includes('workout') || openaiContent.toLowerCase().includes('nutrition') || openaiContent.toLowerCase().includes('general')) {\n    postGroups[postKey].classification = openaiContent.trim().toLowerCase();\n  }\n}\n\n// Second pass: process each grouped post\nfor (const [postKey, group] of Object.entries(postGroups)) {\n  const originalData = group.originalData;\n  const text = originalData.combined_text || '';\n  \n  // Extract key fitness-related terms\n  const fitnessTerms = [\n    'workout', 'exercise', 'training', 'gym', 'fitness', 'muscle', 'strength',\n    'cardio', 'weight', 'lifting', 'running', 'cycling', 'yoga', 'pilates',\n    'nutrition', 'diet', 'calories', 'protein', 'tracking', 'progress',\n    'bodyweight', 'flexibility', 'endurance', 'recovery', 'mobility'\n  ];\n  \n  // Extract app feature terms\n  const featureTerms = [\n    'tracking', 'log', 'timer', 'reminder', 'social', 'sharing', 'progress',\n    'analytics', 'stats', 'report', 'chart', 'graph', 'notification',\n    'sync', 'backup', 'export', 'import', 'customization', 'template',\n    'routine', 'schedule', 'calendar', 'goals', 'achievements', 'badges'\n  ];\n  \n  // Count occurrences\n  const fitnessMatches = fitnessTerms.filter(term => text.includes(term));\n  const featureMatches = featureTerms.filter(term => text.includes(term));\n  \n  // Extract most common words (basic frequency analysis)\n  const words = text.split(/\\s+/).filter(word => word.length > 3);\n  const wordFreq = {};\n  words.forEach(word => {\n    word = word.toLowerCase().replace(/[^a-z]/g, '');\n    if (word.length > 3) {\n      wordFreq[word] = (wordFreq[word] || 0) + 1;\n    }\n  });\n  \n  // Get top 10 most frequent words\n  const topWords = Object.entries(wordFreq)\n    .sort((a, b) => b[1] - a[1])\n    .slice(0, 10)\n    .map(([word, count]) => ({ word, count }));\n  \n  // Calculate category scores\n  const categoryScores = {\n    fitness_relevance: fitnessMatches.length / fitnessTerms.length,\n    feature_density: featureMatches.length / featureTerms.length,\n    text_complexity: words.length / 100 // normalize by text length\n  };\n  \n  results.push({\n    json: {\n      ...originalData,\n      fitness_keywords: fitnessMatches,\n      feature_keywords: featureMatches,\n      top_words: topWords,\n      category_scores: categoryScores,\n      keyword_density: (fitnessMatches.length + featureMatches.length) / words.length,\n      ai_sentiment: group.sentiment || 'neutral',\n      ai_classification: group.classification || 'general'\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "nlp-analysis",
      "name": "NLP Keyword Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 350]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "ranking_score",
              "value": "={{ ($json.engagement_score || 0) * 0.4 + ($json.confidence_score || 0) * 100 * 0.3 + ($json.keyword_density || 0) * 1000 * 0.2 + (($json.category_scores && $json.category_scores.fitness_relevance) || 0) * 100 * 0.1 }}",
              "type": "number"
            },
            {
              "id": "2",
              "name": "priority_tier",
              "value": "={{ $json.ranking_score > 50 ? 'high' : ($json.ranking_score > 20 ? 'medium' : 'low') }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "feature_category",
              "value": "={{ $json.feature_keywords.includes('tracking') ? 'tracking' : ($json.feature_keywords.includes('social') ? 'social' : ($json.feature_keywords.includes('timer') ? 'workout_tools' : 'general')) }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "calculate-rankings",
      "name": "Calculate Rankings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1560, 350]
    },
    {
      "parameters": {
        "type": "simple",
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "ranking_score",
              "order": "descending"
            }
          ]
        }
      },
      "id": "sort-by-ranking",
      "name": "Sort by Ranking",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [1780, 350]
    },
    {
      "parameters": {
        "aggregate": "aggregateIndividualFields",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "feature_category",
              "renameField": true,
              "outputFieldName": "categories"
            },
            {
              "fieldToAggregate": "fitness_keywords",
              "renameField": true,
              "outputFieldName": "all_fitness_keywords"
            },
            {
              "fieldToAggregate": "feature_keywords",
              "renameField": true,
              "outputFieldName": "all_feature_keywords"
            }
          ]
        }
      },
      "id": "aggregate-insights",
      "name": "Aggregate Insights",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [2000, 250]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "date",
              "value": "={{ $now.toISOString().split('T')[0] }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "subreddit",
              "value": "={{ $json.subreddit }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "post_title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "post_content",
              "value": "={{ $json.selftext || 'No content' }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "detected_phrases",
              "value": "={{ ($json.detected_phrases && $json.detected_phrases.join('; ')) || 'None' }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "fitness_keywords",
              "value": "={{ ($json.fitness_keywords && $json.fitness_keywords.join('; ')) || 'None' }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "feature_keywords",
              "value": "={{ ($json.feature_keywords && $json.feature_keywords.join('; ')) || 'None' }}",
              "type": "string"
            },
            {
              "id": "8",
              "name": "confidence_score",
              "value": "={{ $json.confidence_score }}",
              "type": "number"
            },
            {
              "id": "9",
              "name": "engagement_score",
              "value": "={{ $json.engagement_score }}",
              "type": "number"
            },
            {
              "id": "10",
              "name": "ranking_score",
              "value": "={{ $json.ranking_score }}",
              "type": "number"
            },
            {
              "id": "11",
              "name": "priority_tier",
              "value": "={{ $json.priority_tier }}",
              "type": "string"
            },
            {
              "id": "12",
              "name": "feature_category",
              "value": "={{ $json.feature_category }}",
              "type": "string"
            },
            {
              "id": "13",
              "name": "upvotes",
              "value": "={{ $json.ups || 0 }}",
              "type": "number"
            },
            {
              "id": "14",
              "name": "comments",
              "value": "={{ $json.num_comments || 0 }}",
              "type": "number"
            },
            {
              "id": "15",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "16",
              "name": "keyword_density",
              "value": "={{ $json.keyword_density }}",
              "type": "number"
            },
            {
              "id": "17",
              "name": "top_words",
              "value": "={{ ($json.top_words && $json.top_words.map(w => w.word + ':' + w.count).join('; ')) || 'None' }}",
              "type": "string"
            },
            {
              "id": "18",
              "name": "ai_sentiment",
              "value": "={{ $json.ai_sentiment || 'neutral' }}",
              "type": "string"
            },
            {
              "id": "19",
              "name": "ai_classification",
              "value": "={{ $json.ai_classification || 'general' }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "format-detailed-csv",
      "name": "Format Detailed CSV",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2000, 450]
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "csv",
        "binaryPropertyName": "detailed_analysis",
        "options": {
          "headerRow": true
        }
      },
      "id": "create-detailed-csv",
      "name": "Create Detailed CSV",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [2220, 450]
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "csv",
        "binaryPropertyName": "insights_summary",
        "options": {
          "headerRow": true
        }
      },
      "id": "create-insights-csv",
      "name": "Create Insights CSV",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [2220, 250]
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Get Fitness Posts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Bodyweight Posts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Weightlifting Posts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Flexibility Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Fitness Posts": {
      "main": [
        [
          {
            "node": "Merge All Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Bodyweight Posts": {
      "main": [
        [
          {
            "node": "Merge All Posts",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Weightlifting Posts": {
      "main": [
        [
          {
            "node": "Merge All Posts",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get Flexibility Posts": {
      "main": [
        [
          {
            "node": "Merge All Posts",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge All Posts": {
      "main": [
        [
          {
            "node": "Feature Request Phrase Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feature Request Phrase Filter": {
      "main": [
        [
          {
            "node": "Classify Feature Type",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Feature Type": {
      "main": [
        [
          {
            "node": "NLP Keyword Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "NLP Keyword Analysis",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "NLP Keyword Analysis": {
      "main": [
        [
          {
            "node": "Calculate Rankings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Rankings": {
      "main": [
        [
          {
            "node": "Sort by Ranking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by Ranking": {
      "main": [
        [
          {
            "node": "Aggregate Insights",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Detailed CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Insights": {
      "main": [
        [
          {
            "node": "Create Insights CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Detailed CSV": {
      "main": [
        [
          {
            "node": "Create Detailed CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}